@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@700&display=swap");

:root {
  --primary-color: #2554ff;
  --accent-color: #3f83f8;
  --text-color: white;
  --link-color: #2563eb;
  --background-color: #13151c;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.1rem;
}
